* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

a {
    /* text-decoration: none; */
}

.main_page {
    width: 100%;
    min-height: 100%;
    background: url(/img/bg.png), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0px auto; /*выравниевание по центру контейнера*/
    
}

.header {
    display: flex;                      /*контент встает*/
    justify-content: space-between;       /*в одну строку*/
    padding: 20px 0px;
    border-bottom: 1px solid #E5E5E5;
    align-items: center; /*элементы блока по центральной линии*/
}

.logo {
  
}

.logo:hover {
    filter: drop-shadow(0px 0px 10px white);   
}

.nav {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

}

.nav_link {
    color: #E5E5E5;
    margin-left: 40px;

    
}

.nav_link:hover {
    filter: drop-shadow(0px 0px 10px white); /*фильт отброс тени*/
}

.text {
    color: #E5E5E5;
    margin-top: 80px;
}

.title {
    font-size: 128px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 12.8px;
    line-height: 100%; /* 128px */
    
    

}

.subtitle {
    margin-top: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 100%;
    letter-spacing: 2.88px;
    text-transform: uppercase;
    
}

.btn {
    color: #E5E5E5;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; 
    letter-spacing: 2.4px;
    padding: 7px 38px;

}

button {
    border: 2px solid #E5E5E5;
    background: rgba(196, 196, 196, 0.00);
    margin-top: 80px;
    margin-bottom: 140px;
}

.btn:hover{
    filter: drop-shadow(0px 0px 10px white);
}


button:hover {
    filter: drop-shadow(0px 0px 10px white);
}

.social {
    border-top: 1px solid #E5E5E5;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 28px;
  

}
.soc {
    margin-right: 30px;
    
 
}

.soc:hover {
    filter: drop-shadow(0px 0px 10px white);
}



.popup-about, 
.popup-work,
.popup-cont,
.popup-butn {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .8s;
}

.popup-about:target, 
.popup-work:target,
.popup-cont:target,
.popup-butn:target {
    opacity: 1;
    visibility: visible;

}


.popup-about__area, 
.popup-work__area,
.popup-cont__area,
.popup-butn__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.popup-about__body, 
.popup-work__body,
.popup-cont__body,
.popup-butn__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-about__content, 
.popup-work__content,
.popup-cont__content {
    background-color: #ffffffb6;
    border-radius: 22px;
    color: #282828;
    width: 800px;
    height: 400px;
    padding: 100px 100px;
    position: relative;
    filter: drop-shadow(0px 0px 10px white);

}

.popup-about__close, 
.popup-work__close,
.popup-cont__close,
.popup-butn__close {
    position: absolute;
    right: 10px;
    top: 10px;
    
}

.popup-about__title, 
.popup-work__title,
.popup-cont__title {
    color: rgba(40, 40, 40, 0.78);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 32px */
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    border-bottom: 1px solid  rgba(40, 40, 40, 0.78);;
    padding-bottom: 10px;
    

}

.popup-about__text,
.popup-work__text,
.popup-cont__text{
    color: rgba(40, 40, 40, 0.78);
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 48px */
    letter-spacing: 1.8px;
    
}
.popup-about__text{
    margin-top: 12px;
    margin-left: 234px;

}
.popup-work__text {
    margin-left: 400px;
    margin-top: 12px;
}
     
.popup-cont__text {
    margin-left: 280px;
    margin-top: 12px;
}

.popup-butn__content {
    background-color: #ffffffb6;
    border-radius: 22px;
    color: #282828;
    width: 400px;
    height: 100px;
    padding: 40px 110px;
    position: relative;
    filter: drop-shadow(0px 0px 10px white);
    display: flex;
    margin: 0px auto;

}
.popup-butn__title {
    color: rgba(40, 40, 40, 0.78);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    
}
    
p {
    text-transform: lowercase;
    text-align: right;    
}

.uluch,
.treb,
.strateg,
.din {
    border-bottom: 1px solid  rgba(40, 40, 40, 0.78);;
    margin: 8px 0px 16px 0px;
    padding-bottom: 10px;
}

.number {
    color: rgba(40, 40, 40, 0.78);
}

h3 {
    font: inherit; /*h3 наследует шрифт от его родителя <div class="popup-cont__text">*/
    
}

.item-adress,
.item_tel
 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
